# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variable files
.env
.env.*

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
